:root {
    --background-dark-green: #3b6978;
    --background-light-green: #72AAAE;
    --color-text: #F7F7F7;     
    --color-text-dark: #181823cc;                              
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
    font-family: 'Tw Cen MT', sans-serif;
    background: var(--background-light-green);
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-buttons {
    justify-content: flex-start;
    gap: 5rem;
    padding-top: 2rem;
    font-size: 1.5rem;
}

.button {
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 2px solid var(--background-light-green);
    border-radius: 1.8rem;
    cursor: pointer;
    transition: .8s;
}

.button-light {
    background: var(--background-light-green); 
}

.box-shadow {
    box-shadow: 1px 1px 20px rgba(0,0,0,.5);
}

.wave {
    background-image: url(../img/wave.svg);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
}

.wave-inverted {
    transform: rotateX(180deg);
    top: 0;
}

@media screen and (max-width: 1150px) {
    .wave {
        background-position-y: bottom;
        background-repeat: no-repeat;
    }
    .wave-inverted {
        background-position-y: top;
    }
}