.cards__content {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards__item {
    background-color: var(--background-light-green);
    border-radius: 30px;
    filter: saturate(85%);
}

.cards__item:hover {
    filter: initial;
}

.cards__item-content {
    padding: 2rem;
}

.cards__item img {
    width: 100px;
    max-height: 100px;
}

@media screen and (max-width: 370px) {
    .cards__item img {
        width: 75px;
    }
}