#contact {
    color: var(--color-text-dark);
    padding: 5rem 0;
}

.contact__content {
    text-align: center;
}

.form__info {
    padding: 1rem;
}

.form__info legend {
    font-size: 2rem;
}

.form__info legend + p {
    font-size: 1.5rem;
}

.form__input {
    padding: 2rem 0;
}

.form__input-content { /*chequear estiramiento*/
    width: 80%;
    max-width: 600px;
}

.form__input .cards__item {
    background-color: var(--color-text-dark);
    color: var(--color-text);
}

.input__container {
    padding: 1rem 0;
    position: relative;
}

.input__container input {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: .5rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--background-light-green);
    outline: none;
    color: var(--color-text);
    font-size: 1rem;    
}

.input__container textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    background: transparent;
    border: 2px solid var(--background-light-green);
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    color: var(--color-text);
    resize: none;
}

.form__label {
    position: absolute;
    font-size: 1.5rem;
    transition: all .5s;
    top: 1.5rem;
}

    /* buscar el input que está en su focus, y buscar a su hno label */
.input__container input:focus + .form__label {
    transform: translateY(-1.15rem);
    font-size: 1.3rem;
}
    /* los inputs que no tengan placeholder (ya está completo), buscar al label y mantenerlo arriba*/
.input__container input:not(:placeholder-shown)+.form__label {
    transform: translateY(-1.15rem);
    font-size: 1.3rem;
}

.input__container textarea::placeholder {
    color: var(--color-text);
}


.form__input-content .box-buttons {
    justify-content: center;
}

#button-submit {
    justify-content: center;
}

.form__input-content .button {
    color: var(--color-text);
    font-size: 1.6rem;
    width: 60%;
    justify-content: center;
}

.form__input-content .button:hover {
    opacity: .8;
}

.input__error {
    color: var(--color-red);
    width: 100%;
    justify-content: flex-start;
}

.input__error span {
    padding: 0 .5rem;
}

@media screen and (max-width: 430px) {

}

@media screen and (max-width: 375px) {
    .form__input-content .button, .input__container textarea::placeholder, .input__container textarea {
        font-size: 1rem;
    }
    .form__label {
        font-size: 1rem;
        top: 2rem;
    }

    .input__container input:not(:placeholder-shown)+.form__label, .input__container input:focus + .form__label, .input__error {
        font-size: .8rem;
    }
}