.navbar {
    background: var(--background-dark-green);
}

.navbar__content {
    justify-content: center;
    padding: 1.5rem 4rem;
}

.navbar__list {
    gap: 1.5rem;             
}

.navbar__list-item {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-text);  

}

.navbar__list-item a:hover {
    transition: .5s;
    color: rgba(0,0,0,.575);
}

.navbar__content-toggle {
    display: none;
    margin-left: auto;
    font-size: 2rem;
    color: var(--color-text);
    cursor: pointer;
}

.navbar__list-active {
    gap: 1.5rem; /* posible error al dejar el toggle abierto y pasar a desktop*/
}

@media screen and (max-width: 785px) {
    .navbar__content {
        padding: 0 0 1.5rem 0;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .navbar__list { /* el navbar se oculta */
        position: fixed;
        top: -100%;
        left: 0;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        height: 100vh;
        background: var(--background-light-green);
        transition: 2.5s;
    }

    .navbar__list-active { /* el navbar se muestra */
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        height: 100vh;
        background: var(--background-light-green);
        transition: 1s;
    }

    .navbar__list-item {
        padding: 1rem 0;
        font-size: 2.5rem;
    }

    .navbar__content-toggle {
        display: inherit;
        margin: 2.5rem;
    }
}